.github
.vscode
.nvim
bin
hack
makelib
.gitignore
.golangci.yml
.pre-commit-config.yaml
.release-please-manifest.json
go.work
gowork.sum
CHANGELOG.md
LICENSE
README.md
release-please-config.json
renovate.json
charts/
*.yaml
*.go
.devspace
**/vale/
**/tsconfig.json
**/_partials/
docs/crds/
coverage/
.react-router/
build/
tmp/
